{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/tailwindcss.js' %}"></script>
</head>
<body>
    <header
    class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#f0f2f5] px-10 py-3">
    <div class="flex items-center gap-4 text-[#111518]">
      <div class="size-4">
        <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_6_319)">
            <path
              d="M8.57829 8.57829C5.52816 11.6284 3.451 15.5145 2.60947 19.7452C1.76794 23.9758 2.19984 28.361 3.85056 32.3462C5.50128 36.3314 8.29667 39.7376 11.8832 42.134C15.4698 44.5305 19.6865 45.8096 24 45.8096C28.3135 45.8096 32.5302 44.5305 36.1168 42.134C39.7033 39.7375 42.4987 36.3314 44.1494 32.3462C45.8002 28.361 46.2321 23.9758 45.3905 19.7452C44.549 15.5145 42.4718 11.6284 39.4217 8.57829L24 24L8.57829 8.57829Z"
              fill="currentColor"></path>
          </g>
          <defs>
            <clipPath id="clip0_6_319">
              <rect width="48" height="48" fill="white"></rect>
            </clipPath>
          </defs>
        </svg>
      </div>
      <h2 class="text-[#111518] text-lg font-bold leading-tight tracking-[-0.015em]">Shobly</h2>
    </div>
    <div class="flex flex-1 justify-end gap-8">
        <button
          class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 bg-[#111518] text-white text-sm font-bold leading-normal tracking-[0.015em]">
          <span class="truncate">Your Products</span>
        </button>
      <div class="flex gap-2">

        {% if request.user.is_authenticated %}
        <button
          class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 bg-[#2094f3] text-white text-sm font-bold leading-normal tracking-[0.015em]">
          <span class="truncate">Sell</span>
        </button>

        <span
          class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 bg-[#f0f2f5] text-[#111518] text-sm font-bold leading-normal tracking-[0.015em] truncate capitalize ml-2">welcome
          {{request.user.username}}</span>
        {% else %}
        <a
          href="{% url 'accounts:signup' %}" class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 bg-[#2094f3] text-white text-sm font-bold leading-normal tracking-[0.015em]">
          <span class="truncate">Sign up</span>
      </a>

        {% endif %}

      </div>
    </div>
  </header>
    <div class="container py-5">
        <div class="row justify-content-center">
          <div class="col-12 col-md-8 col-lg-6">
            <h2 class="text-center mb-4">Create Product</h2>
            <form method="post", enctype="multipart/form-data">
              {% csrf_token %}
              {% bootstrap_form form %}
              <button class="btn btn-primary w-100" type="submit">Create</button>
            </form>
          </div>
        </div>
      </div>
    

</body>
</html>