{% load static %}
{% load django_bootstrap5 %}
{% load i18n %}
<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900&amp;family=Work+Sans%3Awght%40400%3B500%3B700%3B900"/>

    <title>{% trans "Shobly" %}</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

    <script src="{% static 'js/tailwindcss.js' %}"></script>
  </head>
  <body>
    <div class="relative flex size-full min-h-screen flex-col bg-white group/design-root overflow-x-hidden" style='font-family: "Work Sans", "Noto Sans", sans-serif;'>
      <div class="layout-container flex h-full grow flex-col">
        <header class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#f0f2f5] px-10 py-3">
            <div class="flex items-center gap-4 text-[#111518]">
              <div class="size-4">
                <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_6_319)">
                    <path
                      d="M8.57829 8.57829C5.52816 11.6284 3.451 15.5145 2.60947 19.7452C1.76794 23.9758 2.19984 28.361 3.85056 32.3462C5.50128 36.3314 8.29667 39.7376 11.8832 42.134C15.4698 44.5305 19.6865 45.8096 24 45.8096C28.3135 45.8096 32.5302 44.5305 36.1168 42.134C39.7033 39.7375 42.4987 36.3314 44.1494 32.3462C45.8002 28.361 46.2321 23.9758 45.3905 19.7452C44.549 15.5145 42.4718 11.6284 39.4217 8.57829L24 24L8.57829 8.57829Z"
                      fill="currentColor"
                    ></path>
                  </g>
                  <defs>
                    <clipPath id="clip0_6_319"><rect width="48" height="48" fill="white"></rect></clipPath>
                  </defs>
                </svg>
              </div>
              <a href="{% url 'home:index' %}"><h2 class="text-[#111518] text-lg font-bold leading-tight tracking-[-0.015em]">{% trans "Shobly" %}</h2></a>
            </div>
            <div class="flex flex-1 justify-end gap-8">
              <a href="{% url 'cart:cart' %}">
              <button
                class="flex max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 bg-[#f0f2f5] text-[#111518] gap-2 text-sm font-bold leading-normal tracking-[0.015em] min-w-0 px-2.5"
              >
                <div class="text-[#111518]" data-icon="ShoppingCart" data-size="20px" data-weight="regular">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                    <path
                      d="M222.14,58.87A8,8,0,0,0,216,56H54.68L49.79,29.14A16,16,0,0,0,34.05,16H16a8,8,0,0,0,0,16h18L59.56,172.29a24,24,0,0,0,5.33,11.27,28,28,0,1,0,44.4,8.44h45.42A27.75,27.75,0,0,0,152,204a28,28,0,1,0,28-28H83.17a8,8,0,0,1-7.87-6.57L72.13,152h116a24,24,0,0,0,23.61-19.71l12.16-66.86A8,8,0,0,0,222.14,58.87ZM96,204a12,12,0,1,1-12-12A12,12,0,0,1,96,204Zm96,0a12,12,0,1,1-12-12A12,12,0,0,1,192,204Zm4-74.57A8,8,0,0,1,188.1,136H69.22L57.59,72H206.41Z"
                    ></path>
                  </svg>
                </div>
              </button>
              </a>
            </div>
                      <!-- زر الترجمة -->
          <div class="relative ml-4">
            <button id="language-button" class="flex items-center text-gray-500 hover:text-blue-500 focus:outline-none">
              <span>{% trans "Language" %}</span>
              <svg class="ml-1 w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
              </svg>
            </button>
            <div id="language-menu" class="absolute right-0 mt-2 w-48 bg-white border rounded shadow-lg hidden">
              <a href="/en{{ request.path|slice:'3:' }}" class="block px-4 py-2 text-gray-800 hover:bg-gray-200">{% trans "English" %}</a>
              <a href="/ar{{ request.path|slice:'3:' }}" class="block px-4 py-2 text-gray-800 hover:bg-gray-200">{% trans "Arabic" %}</a>
              </div>
          </div>
          <script>
            document.getElementById('language-button').addEventListener('click', function () {
              var menu = document.getElementById('language-menu');
              menu.classList.toggle('hidden');
            });
          </script>
          </header>
        <div class="gap-1 px-6 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col max-w-[920px] flex-1">
            <div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-4">
              <div class="flex flex-col gap-3">
                <!-- prodectimg 1 -->
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
                  style='background-image: url("{{ product.img1.url}}");'
                ></div>
              </div>
              <div class="flex flex-col gap-3">
                <!-- prodectimg 2 -->
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl"
                  style='background-image: url("{{ product.img2.url}}");'
                ></div>
              </div>
              <div class="flex flex-col gap-3">
              </div>
            </div>
            <h3 class="text-[#111518] tracking-light text-2xl font-bold leading-tight px-4 text-left pb-2 pt-5">
              {{ product.summary }}
            </h3>
            <p class="text-[#60778a] text-sm font-normal leading-normal pb-3 pt-1 px-4">{{product.price}} {% trans "EGP" %}</p>
            <div class="flex flex-wrap gap-x-8 gap-y-6 p-4">
              <div class="flex flex-col gap-2">
                <p class="text-[#111518] text-4xl font-black leading-tight tracking-[-0.033em]">{{product_rate_avg.rating__avg}}</p>
                <div class="flex gap-0.5">
                  
                  {% for i in int_avg_rate%}
                  <div class="text-[#111518]" data-icon="Star" data-size="18px" data-weight="fill">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" fill="currentColor" viewBox="0 0 256 256">
                      <path
                        d="M234.5,114.38l-45.1,39.36,13.51,58.6a16,16,0,0,1-23.84,17.34l-51.11-31-51,31a16,16,0,0,1-23.84-17.34L66.61,153.8,21.5,114.38a16,16,0,0,1,9.11-28.06l59.46-5.15,23.21-55.36a15.95,15.95,0,0,1,29.44,0h0L166,81.17l59.44,5.15a16,16,0,0,1,9.11,28.06Z"
                      ></path>
                    </svg>
                  </div>
                  

                  {% endfor %}
                    
                </div>
                <p class="text-[#111518] text-base font-normal leading-normal">{{number_of_rater}} {% trans "reviews" %}</p>
              </div>
              <div class="grid min-w-[200px] max-w-[400px] flex-1 grid-cols-[20px_1fr_40px] items-center gap-y-3">
                {% for i in ratings_count %}
                    <p class="text-[#111518] text-sm font-normal leading-normal">{{ i.rating }}</p>
                    <div class="flex h-2 flex-1 overflow-hidden rounded-full bg-[#dbe1e6]">
                        <div class="rounded-full bg-[#111518]" style="width: '{{i}}%;'"></div>
                    </div>
                    <p class="text-[#60778a] text-sm font-normal leading-normal text-right">{{ i.count|floatformat:1 }}%</p>
                {% endfor %}
            </div>
            
            
            </div>
            <p class="text-[#111518] text-base font-normal leading-normal pb-3 pt-1 px-4">
            {{ product.description }}
            </p>
            <h3 class="text-[#111518] text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-2 pt-4">{% trans "Available Quantity" %}:{{product.amount}}</h3>
            <div class="flex justify-stretch">
              <div class="flex flex-1 gap-3 flex-wrap px-4 py-3 justify-start">
                <form method="post" action="{% url 'cart:add_to_cart' product.slug %}" id="add-to-cart-form">
                  {% csrf_token %}
                  <button class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 bg-[#2094f3] text-white text-sm font-bold leading-normal tracking-[0.015em]" type="submit">
                    <span class="truncate">{% trans "Add to Cart" %}</span>
                  </button>
                </form>
                <div id="success-message" class="hidden text-green-500 font-bold mt-2">{% trans "Successfully added 1 item to the cart!" %}</div>
                <script>
                document.getElementById('add-to-cart-form').addEventListener('submit', function(event) {
                  event.preventDefault();
                  fetch(this.action, {
                  method: 'POST',
                  body: new FormData(this),
                  headers: {
                    'X-Requested-With': 'XMLHttpRequest',
                  },
                  })
                  .then(response => {
                  if (response.ok) {
                    document.getElementById('success-message').classList.remove('hidden');
                  }
                  })
                  .catch(error => console.error('Error:', error));
                });
                </script>
              </div>
            </div>
          </div>
          <div class="layout-content-container flex flex-col w-[360px]" dir="{% if LANGUAGE_CODE == 'ar' %}rtl{% else %}ltr{% endif %}">
            <h3 class="text-[#111518] text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-2 pt-4">{% trans "Seller" %}</h3>
            <div class="flex items-center gap-4 bg-white px-4 min-h-[72px] py-2">
              <div
                class="bg-center bg-no-repeat aspect-square bg-cover rounded-full h-14 w-fit"
                style="background-image: url('{% if user_img %}{{ user_img.url }}{% else %}{% static "img/4.png" %}{% endif %}');"
                ></div>
              <div class="flex flex-col justify-center">
                <p class="text-[#111518] text-base font-medium leading-normal line-clamp-1">{% trans "company name" %}:{{company_name}}.</p>
                <p class="text-[#60778a] text-sm font-normal leading-normal line-clamp-2">{% trans "product published by" %}:{{product.user.username}}</p>
              </div>
            </div>
            <h3 class="text-[#111518] text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-2 pt-4">{% trans "Product details" %}</h3>
            <div class="p-4 grid grid-cols-2">
              <div class="flex flex-col gap-1 border-t border-solid border-t-[#dbe1e6] py-4 pr-2">
                <p class="text-[#60778a] text-sm font-normal leading-normal">{% trans "Product Name" %}</p>
                <p class="text-[#111518] text-sm font-normal leading-normal">{{product.title}}</p>
              </div>
              <div class="flex flex-col gap-1 border-t border-solid border-t-[#dbe1e6] py-4 pl-2">
                <p class="text-[#60778a] text-sm font-normal leading-normal">{% trans "Price" %}</p>
                <p class="text-[#111518] text-sm font-normal leading-normal">{{product.price}} {% trans "EGP" %}</p>
              </div>
              <div class="flex flex-col gap-1 border-t border-solid border-t-[#dbe1e6] py-4 pr-2">
                <p class="text-[#60778a] text-sm font-normal leading-normal">{% trans "Created At" %}</p>
                <p class="text-[#111518] text-sm font-normal leading-normal">{{product.created_at}}</p>
              </div>
              <div class="flex flex-col gap-1 border-t border-solid border-t-[#dbe1e6] py-4 pr-2 col-span-2 pr-[50%]">
                <p class="text-[#60778a] text-sm font-normal leading-normal">{% trans "Category" %}</p>
                <p class="text-[#111518] text-sm font-normal leading-normal">{{product.catigory}}</p>
              </div>
            </div>
            <div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-4">
              {% if related_products %}

              <div class="flex flex-col gap-3 pb-3">
                
                  
                  
                <h3 class="text-[#111518] text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-2 pt-4">{% trans "Related Products" %}</h3>
                {% for i in related_products %}
                
                {% if i.avg_rating and i %}
                  
                  
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style="background-image: url('{{ i.img1.url }}');"></div>
                <div>
                  <a href="{% url 'products:product_detail' i.slug %}"><p class="text-[#111518] text-base font-medium leading-normal">{% trans "title" %}: {{i.title}}</p></a>
                  <p class="text-[#60778a] text-sm font-normal leading-normal">{% trans "price" %}: {{i.price}}</p>
                  <p class="text-[#60778a] text-sm font-normal leading-normal">{% trans "rating" %}: {{i.avg_rating}}</p>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
