{% load static %}
{% load i18n %}
<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900&amp;family=Work+Sans%3Awght%40400%3B500%3B700%3B900"
    />
    <title>{% trans "Shobly" %}</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />
    <script src="{% static 'js/tailwindcss.js' %}"></script>
  </head>
  <body>
    <div class="relative flex size-full min-h-screen flex-col bg-white group/design-root overflow-x-hidden" style='font-family: "Work Sans", "Noto Sans", sans-serif;'>
      <div class="layout-container flex h-full grow flex-col">
        <header
        class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#f0f2f5] px-10 py-3">
        <div class="flex items-center gap-4 text-[#111518]">
          <div class="size-4">
            <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_6_319)">
                <path
                  d="M8.57829 8.57829C5.52816 11.6284 3.451 15.5145 2.60947 19.7452C1.76794 23.9758 2.19984 28.361 3.85056 32.3462C5.50128 36.3314 8.29667 39.7376 11.8832 42.134C15.4698 44.5305 19.6865 45.8096 24 45.8096C28.3135 45.8096 32.5302 44.5305 36.1168 42.134C39.7033 39.7375 42.4987 36.3314 44.1494 32.3462C45.8002 28.361 46.2321 23.9758 45.3905 19.7452C44.549 15.5145 42.4718 11.6284 39.4217 8.57829L24 24L8.57829 8.57829Z"
                  fill="currentColor"></path>
              </g>
              <defs>
                <clipPath id="clip0_6_319">
                  <rect width="48" height="48" fill="white"></rect>
                </clipPath>
              </defs>
            </svg>
          </div>
          <a href="{% url 'home:index' %}"><h2 class="text-[#111518] text-lg font-bold leading-tight tracking-[-0.015em]">{% trans "Shobly" %}</h2></a>
        </div>
        <div class="flex flex-1 justify-end gap-8">
          <div class="flex flex-1 justify-end gap-8">
            <div class="flex items-center gap-9"></div>
            <a href="{% url 'products:product_list' %}?catigory=1" class="text-[#111518] text-sm font-medium leading-normal"  style="margin: 10px;">{% trans "Electronics" %}</a>
            <a href="{% url 'products:product_list' %}?catigory=5" class="text-[#111518] text-sm font-medium leading-normal"  style="margin: 10px;">{% trans "Fashion" %}</a>
            <a href="{% url 'products:product_list' %}?catigory=10" class="text-[#111518] text-sm font-medium leading-normal"  style="margin: 10px;">{% trans "Health" %}</a>
            <a href="{% url 'products:product_list' %}?catigory=6" class="text-[#111518] text-sm font-medium leading-normal"  style="margin: 10px;">{% trans "Sports" %}</a>
            <a href="{% url 'products:product_list' %}?catigory=9" class="text-[#111518] text-sm font-medium leading-normal " style="margin: 10px;">{% trans "Toys" %}</a>
            </div>
          <div class="flex gap-2">

            {% if request.user.is_authenticated %}
            <button
              class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 bg-[#2094f3] text-white text-sm font-bold leading-normal tracking-[0.015em]">
              <span class="truncate">{% trans "Sell" %}</span>
            </button>

            <span
              class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 bg-[#f0f2f5] text-[#111518] text-sm font-bold leading-normal tracking-[0.015em] truncate capitalize ml-2">{% trans "welcome" %} {{request.user.username}}</span>
            {% else %}
            <button
              class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 bg-[#2094f3] text-white text-sm font-bold leading-normal tracking-[0.015em]">
              <span class="truncate">{% trans "Sign up" %}</span>
            </button>

            {% endif %}

          </div>
        </div>
      </header>
        <div class="px-40 flex flex-1 justify-center py-5" dir="{% if LANGUAGE_CODE == 'ar' %}rtl{% else %}ltr{% endif %}">
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
            <div class="@container">
              <div class="@[480px]:px-4 @[480px]:py-3">
                <div class="w-full bg-center bg-no-repeat bg-cover flex flex-col justify-end overflow-hidden bg-white @[480px]:rounded-xl min-h-80" style='background-image: url({% static "img/image.png" %});'></div>
              </div>
            </div>
            <div class="flex p-4 @container">
              <div class="flex w-full flex-col gap-4 items-center">
                <div class="flex gap-4 flex-col items-center">
                
                {% if profile.ProfileImg %}
                  
                  <div class="bg-center bg-no-repeat aspect-square bg-cover rounded-full min-h-32 w-32" style='background-image: url("{{ profile.ProfileImg.url }}");'></div>
                  {% else %}
                  <div class="bg-center bg-no-repeat aspect-square bg-cover rounded-full min-h-32 w-32" style='background-image: url("{% static 'img/4.png' %}");'></div>
                  {% endif %}

                  <div class="flex flex-col items-center justify-center">
                    <p class="text-[#111418] text-[22px] font-bold leading-tight tracking-[-0.015em] text-center">{{request.user.username}}</p>
                  </div>
                </div>
              </div>
            </div>
            <h3 class="text-[#111418] text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-2 pt-4">{% trans "About" %}</h3>
            <p class="text-[#111418] text-base font-normal leading-normal pb-3 pt-1 px-4">
              {% if profile.about %}
              {{profile.about}}
              {% else %}
              {% trans "no about found add some by edit your profile bottom" %}
              {% endif %}

            </p>
            <div class="flex items-center gap-4 bg-white px-4 min-h-[72px] py-2">
              <div class="text-[#111418] flex items-center justify-center rounded-lg bg-[#f0f2f4] shrink-0 size-12" data-icon="MapPin" data-size="24px" data-weight="regular">
                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                  <path d="M128,24a56,56,0,0,0-56,56c0,20.72,9.12,36.7,20.48,56.64l12,19.67a8,8,0,0,0,14.12-7.5l-12-19.67A40,40,0,1,1,128,176a8,8,0,0,0,0-16,24,24,0,1,0-24-24,8,8,0,0,0-8,8,40,40,0,0,0,16,32.9V184a8,8,0,0,0,16,0V176a40,40,0,1,1,0-80A40,40,0,1,1,128,24Z"></path>
                </svg>
              </div>
              <p class="text-[#111418] text-base font-normal leading-normal">
                {% if profile.user.profile %}
                  {% trans profile.city.name %}
                {% else %}
                  {% trans "No city selected" %}
                {% endif %}
              </p>
              </div>
            <div class="flex items-center gap-4 bg-white px-4 min-h-[72px] py-2">
              <div class="text-[#111418] flex items-center justify-center rounded-lg bg-[#f0f2f4] shrink-0 size-12" data-icon="Briefcase" data-size="24px" data-weight="regular">
                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                  <path d="M216,64H192V40a8,8,0,0,0-8-8H72a8,8,0,0,0-8,8V64H40a16,16,0,0,0-16,16V224a16,16,0,0,0,16,16H216a16,16,0,0,0,16-16V80A16,16,0,0,0,216,64ZM176,40v24H80V40h96Zm24,208H56V80H216v168Z"></path>
                </svg>
              </div>
              <p class="text-[#111418] text-base font-normal leading-normal">{% trans "email" %}: {{request.user.email}}</p>
            </div>
            <div class="flex items-center gap-4 bg-white px-4 min-h-[72px] py-2">
              <div class="text-[#111418] flex items-center justify-center rounded-lg bg-[#f0f2f4] shrink-0 size-12" data-icon="User" data-size="24px" data-weight="regular">
                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                  <path d="M128,128a64,64,0,1,0-64-64A64,64,0,0,0,128,128Zm0,16c-32.8,0-61.92,10.1-82.56,27.44A16,16,0,0,0,48,192v16a16,16,0,0,0,16,16H192a16,16,0,0,0,16-16V192a16,16,0,0,0-16-16.56C189.92,154.1,160.8,144,128,144Z"></path>
                </svg>
              </div>
              <p class="text-[#111418] text-base font-normal leading-normal">{% trans "company name" %}:{{profile.company_name}} </p>
            </div>
            <div class="flex justify-between items-center px-4 py-2 bg-white">
              <a href="{% url 'accounts:edit-profile' %}" class="flex min-w-[84px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 bg-[#2884e6] text-white text-sm font-bold leading-normal tracking-[0.015em]">
                <span class="truncate">{% trans "edit" %}</span>
              </a>
                <a href="{% url 'products:user_products' %}" class="flex min-w-[84px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 bg-[#2884e6] text-white text-sm font-bold leading-normal tracking-[0.015em] hover:bg-red-500">
                <span class="truncate">{% trans "My Products" %}</span>
                </a>
            <form action="{% url 'logout' %}" method="post">
              {% csrf_token %}
              <button type="submit" class="flex min-w-[84px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 bg-[#2884e6] text-white text-sm font-bold leading-normal tracking-[0.015em] hover:bg-red-500">
                <span class="truncate">{% trans "logout" %}</span>
              </button>
            </form>

            </div>
          </div>
        </div>
        <footer class="px-10 py-3 border-t border-solid border-b-[#f0f2f4] bg-[#f0f2f4]">
          <div class="flex justify-center items-center gap-4">
            <a href="#" class="text-[#111418] text-sm font-medium leading-normal">{% trans "Privacy Policy" %}</a>
            <span class="text-[#111418]">|</span>
            <a href="#" class="text-[#111418] text-sm font-medium leading-normal">{% trans "Terms of Service" %}</a>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
